body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#comedy-and-netflix {
	height: 550px;
	width: 1030px;
}

#comedy-and-netflix svg {
	height: 600px;
	width: 1100px;
}
